* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}
.subDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 50%;
  border: 2px;
  border-radius: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(238, 221, 255);
}
.timerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 450px;
  width: 80%;
  text-align: center;
  justify-content: center;
  border: 2px;
  border-radius: 45%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 166, 184, 0.1);
}
h1 {
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  font-family: serif;
}
@media (max-width: 1190px) {
  .subDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    background-color: white;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .subDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    background-color: white;
    width: 70%;
  }
  .heading {
    font-size: 25px;

  }
}
@media (max-width: 490px) {
  .subDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    background-color: white;
    width: 80%;
  }
  .heading {
    font-size: 22px;
  }
  .allButtons {
    display: block !important;
  }
}
@media (max-width: 400px) {
  .heading {
    font-size: 20px;
  }
  .allButtons {
    display: block !important;
  }
}
